.hidden {
    visibility: hidden;
}

.correct {
    color: #67cd56;

    .select__answer {
        background-color: #67cd56;
    }
}
.incorrect {
    color: #ff3002;
    .select__answer {
        background-color: #ff3002;
    }
}

#HOME {
    // background-color: red;
    max-width: 780px;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    position: relative;

    .question {
        // background-color: blue;
        font-weight: bold;
        font-size: 20px;
        margin-top: 10vh;
    }
    .option {
        // background-color: yellow;
        font-size: 16px;
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .option__item {
            // height: 50px;
            // background-color: pink;
            display: flex;
            align-items: top;
            gap: 0.5rem;
            cursor: pointer;

            .select__answer {
                // background-color: red;
                min-width: 1rem;
                min-height: 1rem;
                max-width: 1rem;
                max-height: 1rem;
                border: 1px solid #969696;
                border-radius: 100%;
                margin-top: 4px;
            }
            .answer {
                // background-color: yellow;
            }
            &:hover {
                // color: #ff1265;
            }
        }

        //// not using for now
        // .blink_me {
        //     animation: blinker 0.5s linear 2;
        // }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }
    }
    .message {
        // background-color: pink;
        // color: red;
        margin-top: 5vh;
        align-self: center;
        font-size: 14px;
        // visibility: hidden;
    }
    .reveal {
        // background-color: gray;
        color: #67cd56;
        // visibility: hidden;
        margin-top: 10px;
        align-self: center;
        border-bottom: 2px solid #67cd56;
        font-size: 14px;
        cursor: pointer;
    }
    .next__question {
        margin-top: 10vh;
        border: 1px solid #969696;
        border-radius: 20px;
        padding: 8px 28px;
        align-self: center;
        cursor: pointer;
        // disable select
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:active {
            // color: #ffffff;
            background-color: #63ccf9;
        }
    }
}
