.nav__shadow-day {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.5);
}
.nav__shadow-night {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.5);
}

#NAVBAR {
    height: 3rem;
    display: flex;
    align-items: center;

    .logo__name {
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
    }

    .theme__toggle {
        cursor: pointer;
        margin-left: auto;
        margin-right: 2rem;
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) {
    #NAVBAR {
        .logo__name {
            margin-left: auto;
        }
    }
}
