@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

body {
    /* maximum webite width */
    max-width: 800px;
    margin-inline: auto;

    font-family: "Itim", sans-serif;
}

#APP {
    // background-color: red;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 15fr;

    #navbar {
        // background-color: yellow;
    }
    #home {
        // background-color: green;
    }
}
